<body>
	<div class="container">
		<div class="row">
			<div class="col s12 m6 l6">
				<div class="card">
					<div class="card-image waves-effect waves-block waves-light">
					<%= image_tag 'material-shot.jpg', class: "activator"%>
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Material Shot Trainer<i class="material-icons right">more_vert</i></span>
						<p><a href="https://github.com/kdrewgonzales/material-shot">Project Repository</a></p>
						<p><a href="https://www.dropbox.com/s/x3jcsmyzeiwdr1l/MaterialShot-linux-x64.zip?dl=0">Linux Executable</a></p>
					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">Material Shot Trainer<i class="material-icons right">close</i></span>
						<p>This is a small game that will help users strengthn their accuracy and speed with a mouse. These
						excercises are supposed to help with first person shooters and improve shot accuracy and reflex time. Here
						is a link to the game for <a href="https://www.dropbox.com/s/x3jcsmyzeiwdr1l/MaterialShot-linux-x64.zip?dl=0">linux</a>.
						Just navigate through the folder and run the "MaterialShot" script.</p>
					</div>
				</div>
				<div class="card">
					<div class="card-image waves-effect waves-block waves-light">
						<%= image_tag 'mollys-adventure.jpg', class: "activator"%>
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Molly's Adventure<i class="material-icons right">more_vert</i></span>
						<p><a href="https://github.com/kdrewgonzales/mollys-adventure">Project Repository</a></p>
					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">Molly's Adventure<i class="material-icons right">close</i></span>
						<p>This is a small 2d game where a user will use the space bar to jump
						from platform to platform, while using the mouse to shoot the red
						floating enemies in the sky. This game is written using Githubs Electron
						for desktop applications. </p>
					</div>
				</div>
			</div>
			<div class="col s12 m6 l6">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<%= image_tag 'jawa.jpg', class: "activator"%>
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Project Jawa<i class="material-icons right">more_vert</i></span>
						<p><a href="https://www.dropbox.com/s/smezf7k8ckwlv5u/Jawa.zip?dl=0">Project File</a></p>
					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">Project Jawa<i class="material-icons right">close</i></span>
						<p>This was my favorite project from my computer science class at UCLA. The project was to create a "changefile"
						for a text file. In the problem given, a user has a text file. Then I need to push a "changefile" to the user to
						update his file. The objective was to create the smallest changefile possible by copying the parts of the file
						that the user already has, and only telling the user what sections of text need to be added.</p>
					</div>
				</div>
				<div class="card">
					<div class="card-image waves-effect waves-block waves-light">
						<%= image_tag 'ucon.jpg', class: "activator"%>
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">UConfessions<i class="material-icons right">more_vert</i></span>
						<p><a href="https://github.com/kdrewgonzales/UConfessions">Project Repository</a></p>
					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">UConfessions<i class="material-icons right">close</i></span>
						<p>This is the first project I wrote, and the first time I learned a programming language. UConfessions just allows
							users to post a story. Then users at other UCs can view it on the app. Unfortunately, I used Parse.com to host the
							data, but Parse went out of business. The data will soon be unavailable.</p>
					</div>
				</div>
				<div class="card">
					<div class="card-image waves-effect waves-block waves-light">
						<%= image_tag 'pokething.jpg', class: "activator"%>
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Poke Thing<i class="material-icons right">more_vert</i></span>
						<p><a href="https://github.com/kdrewgonzales/pokething">Project Repository</a></p>
					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">Poke Thing<i class="material-icons right">close</i></span>
						<p>This framework currently allows another programmer to begin constructing a tile game of their own.
						Eventually, I play to write a full length game, but the only functionality that it currently has is
						creating maps and traveling between them. There are npcs that roam the map. You can talk to them
						by pressing k, and wander the map using wasd.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
